<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <!--  
 	mapper는 구문을 만들 수 있는 영역
	일반적으로 테이블당 1개씩의 mapper를 둔다.
 -->
 <mapper namespace="student">
 
 <!-- 	<insert id="regist" parameterType="com.kh.spring07.entity.StudentDto"> 별칭은  mybatis-config에서 지정 -->
 <insert id="regist" parameterType="student">
  INSERT INTO student VALUES(#{name},#{age},#{score},SYSDATE)
 </insert>
 
 </mapper>